.layout {
    display: flex;
    flex-direction: column;

    margin: 80px 150px; 
    height: 100vh;
}

.nav {
    display: flex; /* Устанавливаем флексбокс для выравнивания детей в одну линию */
    align-items: center; /* Вертикальное выравнивание элементов по центру */
    justify-content: space-between; /* Распределяем пространство между элементами (или используйте flex-start/flex-end для других эффектов) */
    padding: 1rem; /* Внешние отступы */
}

.list {
    display: flex;
    justify-content: center;

    font-size: 16px;
}

.list li {
    display: flex;
    flex-direction: row;

    margin: 0px 10px 0px 10px;
    list-style: none;
}

.username {
    color: #7b6ef6;
    font-weight: 500;
}

li a {
    text-decoration: none;
    color: rgb(201, 193, 193);
}

li a:hover {
    color: rgb(156, 150, 150);
}

.navlink {
    color: white;
}

.entryIcon {
    margin-left: 0;
    height: 18px;
}

.outlet {
    flex: 1;
    /* overflow-y: auto;*/
    padding: 1rem;
}

.inputButton {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 16px 0px; /* Внешний отступ сверху, чтобы отделить от предыдущих элементов */
}
