.movies-list {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на новые строки */
    gap: 24px; /* Отступы между карточками, можно менять */
    max-width: 1000px; /* Например, хватает на 4 карточки по 200px + отступы */
}